system-config.js*
app/**/*.js
app/**/*.map
node_modules
jspm_packages
bower_components
aot/*
dist/*
yarn.lock
__pycache__
.coverage
.pylintrc
venv
*.pyc
TestOpenSourcery.tmp
.idea
Session.vim
tests.html
