html,
body {
  height: 100%;
}


.carousel,
.item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.container {
  margin-top: 70px;
}

img {
  margin: 0 auto;
}

.thumbnail {
  margin-bottom: 0 !important;
}

.btn-sqr {
  color: white !important;
  font-size: large !important;
  width: 125px !important;
  height: 125px !important;
  padding-top: 50px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.btn-tile {
  color: white !important;
  font-size: large !important;
  width: 150px !important;
  height: 100px !important;
  padding-top: 30px !important;
}

.btn-chubby {
  height: 50px !important;
  padding-top: 14px !important;
}

.mrgn-btm {
  margin-bottom: 10px !important;
}

.ui-datatable thead th, .ui-datatable tfoot td, .ui-datatable tbody td {
  border: 0 !important;
  text-align: center;
}
.ui-carousel {
  padding: 0 !important;
}

.ui-carousel-header {
  margin: 0 !important;
}

.ui-md-3 {
  padding-top: 10px !important;
  padding-left: 15px !important;
}

.ui-carousel-item {
  padding-top: 10px !important;
  padding-left: 15px !important;
  border: 0 !important;
}

.ui-datagrid-header {
  padding-top: 7px !important;
  padding-bottom: 8px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
}