img {
  margin: 0 auto;
}

.thumbnail {
  margin-bottom: 0 !important;
}

.btn-sqr {
  color: white !important;
  font-size: large !important;
  width: 125px !important;
  height: 125px !important;
  padding-top: 50px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.btn-tile {
  width: 150px !important;
  height: 100px !important;
  padding-top: 30px !important;
}

.btn-chubby {
  height: 50px !important;
  padding-top: 14px !important;
}

.mrgn-btm {
  margin-bottom: 10px !important;
}

.ui-datatable thead th, .ui-datatable tfoot td, .ui-datatable tbody td {
  border: 0 !important;
  text-align: center;
}
