img {
    margin: 0 auto;
}

.btn-tile {
    width: 150px !important;
    height: 100px !important;
    padding-top: 30px !important;
}

.btn-chubby {
    height: 50px !important;
    padding-top: 14px !important;
}

.mrgn-btm {
    margin-bottom: 10px !important;
}

