{% extends "layout.html" %}
{% block body %}
<h1>Spartify</h1>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="/static/img/brian.jpg" class="img-responsive" style="margin: 0 auto;">

                <div>
                    <h3>Brian</h3>
                </div>

                <div>
                  <p>
                     From Seattle, WA. Studies Computer Science at The University of Texas at Austin.
                     Hobbies: Chess, recreational mathematics, recreational programming, gaming.
                  </p>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        Major Responsibilites: Front End, Back End, REST API, Database Design / Implementation
                    </li>
                    <li class="list-group-item">No. Commits: 43</li>
                    <li class="list-group-item">No Issues: 20</li>
                    <li class="list-group-item">No Unit Tests: 20</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="/static/img/brian.jpg" class="img-responsive" style="margin: 0 auto;">

                <div>
                    <h3>Carlos</h3>
                </div>

                <div>
                    <p>
                        Bio.
                    </p>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        Major Responsibilites: Fill In
                    </li>
                    <li class="list-group-item">Fill In</li>
                    <li class="list-group-item">Fill In</li>
                    <li class="list-group-item">Fill In</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="/static/img/brian.jpg" class="img-responsive" style="margin: 0 auto;">

                <div>
                    <h3>Jack</h3>
                </div>

                <div>
                    <p>
                        Bio.
                    </p>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        Major Responsibilites: Fill In
                    </li>
                    <li class="list-group-item">Fill In</li>
                    <li class="list-group-item">Fill In</li>
                    <li class="list-group-item">Fill In</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="/static/img/brian.jpg" class="img-responsive" style="margin: 0 auto;">

                <div>
                    <h3>Vlad</h3>
                </div>

                <div>
                    <p>
                        Bio.
                    </p>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        Major Responsibilites: Fill In
                    </li>
                    <li class="list-group-item">Fill In</li>
                    <li class="list-group-item">Fill In</li>
                    <li class="list-group-item">Fill In</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="/static/img/brian.jpg" class="img-responsive" style="margin: 0 auto;">

                <div>
                    <h3>Cindy</h3>
                </div>

                <div>
                    <p>
                        Bio.
                    </p>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        Major Responsibilites: Fill In
                    </li>
                    <li class="list-group-item">Fill In</li>
                    <li class="list-group-item">Fill In</li>
                    <li class="list-group-item">Fill In</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="/static/img/brian.jpg" class="img-responsive" style="margin: 0 auto;">

                <div>
                    <h3>Raghav</h3>
                </div>

                <div>
                    <p>
                        Bio.
                    </p>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        Major Responsibilites: Fill In
                    </li>
                    <li class="list-group-item">Fill In</li>
                    <li class="list-group-item">Fill In</li>
                    <li class="list-group-item">Fill In</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<h1>Statistics</h1>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <h3>Total Commits: N/A</h3>
        </div>
        <div class="col-md-4">
            <h3>Total No. Issues: N/A</h3>
        </div>
        <div class="col-md-4">
            <h3>Total No. Unit Tests : N/A</h3>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <a href="http://docs.opensorcery.apiary.io/#" class="btn btn-primary btn-block">Apiary API</a>
        </div>
        <div class="col-md-3">
            <a href="https://github.com/cs373gc-fall-2016/spartify" class="btn btn-primary btn-block">Repository</a>
        </div>
        <div class="col-md-3">
            <a href="https://github.com/cs373gc-fall-2016/spartify/issues" class="btn btn-primary btn-block">Issue Tracker</a>
        </div>
        <div class="col-md-3">
            <a href="https://github.com/cs373gc-fall-2016/spartify/wiki" class="btn btn-primary btn-block">Wiki</a>
        </div>
    </div>
</div>
{% endblock %}