{% extends "layout.html" %}
{% block body %}
<table id="companies" class="display table table-striped no-wrap">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>URL</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
    {% for company in companies %}
    <tr>
        <td class="col-xs-1">
            <a href="/companies/{{company.id}}" class="thumbnail">
                <img src="{{company.avatar_url}}">
            </a>
        </td>
        <td class="text-capitalize">{{company.name}}</td>
        <td>
            {% if company.email != "" and company.email != None %}
            <a href="mailto:{{company.email}}">
                <i class="glyphicon glyphicon-envelope"></i>
                {{company.email}}
            </a>
            {% else %}
            None
            {% endif %}
        </td>
        <td>
            <a href="{{company.url}}">
                <i class="glyphicon glyphicon-link"></i>
                {{company.url}}
            </a>
        </td>
        <td>{{company.description}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
