{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="{{contributor.avatar_url}}" class="img-responsive" alt="">

                <div>
                    <h3>{{contributor.username}}</h3>
                </div>

                <div>
                    <ul class="nav">
                        {% if contributor.email != "" and contributor.email != None %}
                        <li>
                            <a href="mailto:{{contributor.email}}">
                                <i class="glyphicon glyphicon-envelope"></i>
                                {{contributor.email}}
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{{contributor.url}}">
                                <i class="glyphicon glyphicon-link"></i>
                                {{contributor.url}}
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/maps/place/{{contributor.location}}/">
                                <i class="glyphicon glyphicon-pushpin"></i>
                                {{contributor.location}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Contributed Projects</h3>
            </div>
            <div class="panel-body">
                <ul class="nav">
                {% for p in contributor.projects %}
                    <li><a href="/projects/{{p.id}}">{{p.name}}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Company Membership</h3>
            </div>
            <div class="panel-body">
                <ul class="nav">
                    {% for c in contributor.companies %}
                    <li><a href="/companies/{{c.id}}">{{c.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}