{% extends "layout.html" %}
{% block body %}
<table id="contributors" class="display table table-striped">
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>URL</th>
        <th>Avatar Url</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
    {% for contributor in contributors %}
    <tr>
        <td><a href="/contributors/{{contributor.id}}">{{contributor.username}}</a></td>
        <td>{{contributor.email}}</td>
        <td>{{contributor.url}}</td>
        <td>{{contributor.avatar_url}}</td>
        <td>{{contributor.location}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}