{% extends "layout.html" %}
{% block body %}
  <table id="languages" class="display table table-striped no-wrap">
    <thead>
      <tr>
        <th>Name</th>
        <th>Creator</th>
        <th>Type</th>
        <th>FirstAppeared</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
    {% for language in languages %}
      <tr>
        {% if language.name == "c#" %}
        <td><a href="/languages/c%23" class="text-capitalize">{{language.name}}</a></td>
	{% else %}
        <td><a href="/languages/{{language.name}}" class="text-capitalize">{{language.name}}</a></td>
	{% endif %}
        <td>{{language.creator}}</td>
        <td>{{language.type}}</td>
        <td>{{language.firstAppeared}}</td>
        <td>{{language.description}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
