{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">
                <h3 class="text-capitalize">{{language.name}}</h3>
                <p>{{language.description}}</p>
            </li>
            <li class="list-group-item"><label>Creator:</label> {{language.creator}}</li>
            <li class="list-group-item"><label>Type:</label> {{language.type}}</li>
            <li class="list-group-item"><label>First Appeared:</label> {{language.firstAppeared}}</li>
            <li class="list-group-item">
                <label>Paradigms:</label> {% for p in language.paradigms %} {{p.name}} {% endfor %}
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Used in Projects</h3>
            </div>
            <div class="panel-body">
                {% for p in language.projects %}
                    <div class="col-xs-6 col-md-3">
                        <a href="/projects/{{p.id}}" class="btn btn-primary btn-block btn-sq mrgn-btm">
                            <h4 class="text-capitalize">{{p.name}}</h4>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}