{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <h3>{{project.name}}</h3>
                </div>

                <div>
                    <p>{{project.description}}</p>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">Created: {{project.createdDate}}</li>
                    <li class="list-group-item">Private: {{project.private}}</li>
                    <li class="list-group-item">
                        Owner: <a href="/companies/{{project.company.id}}">{{project.company.name}}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{project.url}}">
                            <i class="glyphicon glyphicon-link"></i>
                            {{project.url}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Contributors</h3>
            </div>
            <div class="panel-body">
                {% for c in project.contributors %}
                <div class="col-xs-6 col-md-3">
                    <a href="/contributors/{{c.id}}" class="btn btn-info btn-block btn-sq"><h4>{{c.username}}</h4></a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Languages Used</h3>
            </div>
            <div class="panel-body">
                {% for l in project.languages %}
                <div class="col-xs-6 col-md-3">
                    <a href="/languages/{{l.name}}" class="btn btn-success btn-block btn-sq"><h4>{{l.name}}</h4></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}