{% extends "layout.html" %}
{% block body %}
<table id="projects" class="display table table-striped no-wrap">
    <thead>
    <tr>
        <th>Name</th>
        <th>URL</th>
        <th>CreatedDate</th>
        <th>Private</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for project in projects %}
    <tr>
        <td><a href="/projects/{{project.id}}">{{project.name}}</a></td>
        <td>{{project.url}}</td>
        <td>{{project.createdDate}}</td>
        <td>{{project.private}}</td>
        <td>{{project.description}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}