<h1>Spartify</h1>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <ul class="list-group">
      <li class="list-group-item">
        <img src="/app/img/brian.jpg" class="img-responsive img-rounded">

        <h3>Brian</h3>

        <p>
          Studies Computer Science at The University of Texas at Austin.
          Hobbies: Chess, recreational mathematics, recreational programming, gaming.
        </p>
      </li>
      <li class="list-group-item">
        Major Responsibilites: Front End, Back End, REST API, Database Design / Implementation
      </li>
      <li class="list-group-item">No. Commits: 57</li>
      <li class="list-group-item">No. Issues: 22</li>
      <li class="list-group-item">No. Unit Tests: 13</li>
    </ul>
  </div>
  <div class="col-sm-6 col-md-4">
    <ul class="list-group">
      <li class="list-group-item">
        <img src="/app/img/carlos.jpg" class="img-responsive img-rounded">

        <h3>Carlos</h3>

        <p>
          Studies Computer Science at The University of Texas at Austin.
          Lives in Texas.
        </p>
      </li>
      <li class="list-group-item">
        Major Responsibilites: Design, Frontend, Documentation
      </li>
      <li class="list-group-item">No. Commits: 0</li>
      <li class="list-group-item">No. Issues: 0</li>
      <li class="list-group-item">No. Unit Tests: 0</li>
    </ul>
  </div>
  <div class="col-sm-6 col-md-4">
    <ul class="list-group">
      <li class="list-group-item">
        <img src="/app/img/jack.jpg" class="img-responsive img-rounded">

        <h3>Jack</h3>

        <p>
          Studies Computer Science at The University of Texas at Austin.
        </p>
      </li>
      <li class="list-group-item">
        Major Responsibilites: Design, Frontend, Documentation
      </li>
      <li class="list-group-item">No. Commits: 4</li>
      <li class="list-group-item">No. Issues: 4</li>
      <li class="list-group-item">No. Unit Tests: 0</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <ul class="list-group">
      <li class="list-group-item">
        <img src="/app/img/vlad.png" class="img-responsive img-rounded">

        <h3>Vlad</h3>

        <p>
          Studies Computer Science at The University of Texas at Austin.
        </p>
      </li>
      <li class="list-group-item">
        Major Responsibilites: None
      </li>
      <li class="list-group-item">No. Commits: 0</li>
      <li class="list-group-item">No. Issues: 0</li>
      <li class="list-group-item">No. Unit Tests: 0</li>
    </ul>
  </div>
  <div class="col-sm-6 col-md-4">
    <ul class="list-group">
      <li class="list-group-item">
        <img src="/app/img/cindy.jpg" class="img-responsive img-rounded">

        <h3>Cindy</h3>

        <p>
          Studies Computer Science at The University of Texas at Austin.
        </p>
      </li>
      <li class="list-group-item">
        Major Responsibilites: Documentation
      </li>
      <li class="list-group-item">No. Commits: 2</li>
      <li class="list-group-item">No. Issues: 2</li>
      <li class="list-group-item">No. Unit Tests: 0</li>
    </ul>
  </div>
  <div class="col-sm-6 col-md-4">
    <ul class="list-group">
      <li class="list-group-item">
        <img src="/app/img/raghav.jpg" class="img-responsive img-rounded">

        <h3>Raghav</h3>

        <p>
          Studies Computer Science at The University of Texas at Austin.
        </p>
      </li>
      <li class="list-group-item">
        Major Responsibilites: Documentation
      </li>
      <li class="list-group-item">No. Commits: 3</li>
      <li class="list-group-item">No. Issues: 1</li>
      <li class="list-group-item">No. Unit Tests: 0</li>
    </ul>
  </div>
</div>
<h1>Statistics</h1>
<div class="row">
  <div class="col-md-3">
    <h3 class="text-center">Total Commits: 77</h3>
  </div>
  <div class="col-md-3">
    <h3 class="text-center">Total Issues: 27</h3>
  </div>
  <div class="col-md-3">
    <h3 class="text-center">Total Unit Tests : 13</h3>
  </div>
  <div class="col-md-3">
    <a href="/runtests/" class="btn btn-primary btn-block btn-chubby mrgn-btm">Run Unit Tests</a>
  </div>

  <div class="col-md-3">
    <a href="http://docs.opensorcery.apiary.io/#" class="btn btn-primary btn-block btn-chubby mrgn-btm">REST API</a>
  </div>
  <div class="col-md-3">
    <a href="https://github.com/cs373gc-fall-2016/spartify" class="btn btn-primary btn-block btn-chubby mrgn-btm">Repository</a>
  </div>
  <div class="col-md-3">
    <a href="https://github.com/cs373gc-fall-2016/spartify/issues" class="btn btn-primary btn-block btn-chubby mrgn-btm">Issue Tracker</a>
  </div>
  <div class="col-md-3">
    <a href="https://github.com/cs373gc-fall-2016/spartify/wiki" class="btn btn-primary btn-block btn-chubby mrgn-btm">Project Wiki</a>
  </div>
  <div>

  </div>
</div>
<h1>Data Sources</h1>
<div class="row">
  <div class="col-md-3">
    <a href="https://developer.github.com/v3/">GitHub API</a>
    <br>The main data source for this website. Some data for Languages was hand scraped from Wikipedia.org.
  </div>
</div>
<h1>Tools</h1>
<div class="row">
  <div class="col-md-12">
    <div class="row" style="padding-bottom: 5px;">
      <div class="col-md-3 mrgn-btm">
        <a href="http://getbootstrap.com/">Bootstrap</a>
        <br>An HTML, CSS, and JavaScript framework used heavily to
        design and style all of the pages of the site.
      </div>
      <div class="col-md-3 mrgn-btm">
        <a href="http://flask.pocoo.org/">Flask</a>
        <br>A Python a micro web framework that powers this web application.
      </div>
      <div class="col-md-3 mrgn-btm">
        <a href="http://www.sqlalchemy.org/">SQLAlchemy</a>
        <br>A  Python SQL toolkit and Object Relational Mapper.
      </div>
      <div class="col-md-3 mrgn-btm">
        <a href="https://github.com/">GitHub</a>
        <br>A web-based git repository hosting service that hosts the
        repository for this project.
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mrgn-btm">
        <a href="https://apiary.io/">Apiary</a>
        <br>An API documentation tool. The documentation for this
        project's RESTful API can be found at
        <a href="http://docs.sweetmusic.apiary.io">http://docs.opensorcery.apiary.io</a>
      </div>
      <div class="col-md-3 mrgn-btm">
        <a href="https://slack.com/">Slack</a>
        <br>A web based chat application that has integration features with
        <a href="https://travis-ci.com/">TravisCI</a>,<a href="https://github.com/">GitHub</a>,
        and many other software development tools.
      </div>
      <div class="col-md-3 mrgn-btm">
        <a href="https://aws.amazon.com/?nc2=h_lg">Amazon Web Services</a>
        <br>A web hosting platform that hosts this web application.
      </div>
    </div>
  </div>
</div>
