<p-dataList [value]="companies" [paginator]="true" [rows]="10">
    <template let-company>
        <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:10px;border-bottom:1px solid #D5D5D5;">
            <div class="ui-grid-row">
                <div class="ui-grid-col-1">
                    <a routerLink="/companies/{{company.id}}" routerLinkActive="active" class="thumbnail">
                        <img src="{{company.avatar_url}}">
                    </a>
                </div>
                <div class="ui-grid-col-5" style="padding-top: 5px; padding-left: 10px;">
                    <div class="ui-grid ui-grid-responsive ui-fluid">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2"><label>Name:</label> </div>
                            <div class="ui-grid-col-10">{{company.name}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2"><label>email:</label> </div>
                            <div class="ui-grid-col-10">{{company.email}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2"><label>URL:</label> </div>
                            <div class="ui-grid-col-10">{{company.url}}</div>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-col-6" style="padding-top: 5px; padding-left: 10px;">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><label>Description:</label></div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-10">{{company.description}}</div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</p-dataList>