<div *ngIf="company">
  <div class="row">
    <div class="col-sm-5 col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="{{company.avatar_url}}" class="img-responsive" alt="">

          <div>
            <h3 class="text-capitalize">{{company.name}}</h3>
          </div>

          <div>
            {{company.description}}
          </div>

          <div>
            <ul class="nav">
              <li *ngIf="company.email != null">
                <a href="mailto:{{company.email}}">
                  <i class="glyphicon glyphicon-envelope"></i>
                  {{company.email}}
                </a>
              </li>
              <li>
                <a href="{{company.url}}">
                  <i class="glyphicon glyphicon-link"></i>
                  {{company.url}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-7 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Owned Projects</h3>
        </div>
        <div class="panel-body">
          <div *ngFor="let id of company.project_ids" class="col-xs-6 col-md-3">
            <my-project-link [p_id]="id"></my-project-link>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Members</h3>
        </div>
        <div class="panel-body">
          <div *ngFor="let id of company.member_ids" class="col-xs-6 col-md-3">
            <my-contributor-link [c_id]="id"></my-contributor-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
