<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="50" style="float:left" placeholder="Search">
</div>
<p-dataTable [value]="companies" [sortMode]="multiple" [globalFilter]="gb" paginator=true
             [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,25,100]"
             [lazy]="true" [totalRecords]="totalCompanies" (onLazyLoad)="loadData($event)">
  <p-column field="avatar_url" header="Avatar" [sortable]="true" [style]="{'width':'150px'}">
    <template let-company="rowData" pTemplate type="body">
      <a routerLink="/companies/{{company.id}}" routerLinkActive="active" class="thumbnail">
        <img src="{{company.avatar_url}}">
      </a>
    </template>
  </p-column>
  <p-column field="name" header="Name" [sortable]="true"></p-column>
  <p-column field="email" header="Email" [sortable]="true" [style]="{'width':'300px'}">
    <template let-company="rowData" pTemplate type="body">
      <a *ngIf="company.email" href="mailto:{{company.email}}">
        <i class="glyphicon glyphicon-envelope"></i>
        {{company.email}}
      </a>
    </template>
  </p-column>
  <p-column field="url" header="Url" [sortable]="true" [style]="{'width':'300px'}">
    <template let-company="rowData" pTemplate type="body">
      <a href="{{company.url}}">
        <i class="glyphicon glyphicon-link"></i>
        {{company.url}}
      </a>
    </template>
  </p-column>
  <p-column field="description" header="Description" [sortable]="true">
    <template let-company="rowData" pTemplate type="body">
      {{company.description | ellipsis:20}}
    </template>
  </p-column>
</p-dataTable>