<table id="contributors" class="display table table-striped no-wrap">
  <thead>
    <tr>
      <th></th>
      <th>Username</th>
      <th>Email</th>
      <th>URL</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contributor of contributors">
      <td class="col-xs-1">
        <a routerLink="/contributors/{{contributor.id}}" routerLinkActive="active" class="thumbnail">
          <img src="{{contributor.avatar_url}}">
        </a>
      </td>
      <td class="text-capitalize">{{contributor.username}}</td>
      <td>
        <a *ngIf="contributor.email != null" href="mailto:{{contributor.email}}">
          <i class="glyphicon glyphicon-envelope"></i>
          {{contributor.email}}
        </a>
      </td>
      <td>
        <a href="{{contributor.url}}">
          <i class="glyphicon glyphicon-link"></i>
          {{contributor.url}}
        </a>
      </td>
      <td>
        <a href="https://www.google.com/maps/place/{{contributor.location}}/">
          <i class="glyphicon glyphicon-pushpin"></i>
          {{contributor.location}}
        </a>
      </td>
    </tr>
  </tbody>
</table>
