<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="50" style="float:left" placeholder="Search">
</div>
<p-dataTable [value]="contributors" [sortMode]="multiple" [globalFilter]="gb" paginator=true
             [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,25,100]" >
  <p-column field="avatar_url" header="Avatar" [sortable]="true" [style]="{'width':'150px'}">
    <template let-contributor="rowData" pTemplate type="body">
      <a routerLink="/contributors/{{contributor.id}}" routerLinkActive="active" class="thumbnail">
        <img src="{{contributor.avatar_url}}">
      </a>
    </template>
  </p-column>
  <p-column field="username" header="Username" [sortable]="true"></p-column>
  <p-column field="email" header="Email" [sortable]="true" [style]="{'width':'300px'}">
    <template let-contributor="rowData" pTemplate type="body">
      <a *ngIf="contributor.email" href="mailto:{{contributor.email}}">
        <i class="glyphicon glyphicon-envelope"></i>
        {{contributor.email}}
      </a>
    </template>
  </p-column>
  <p-column field="url" header="Url" [sortable]="true" [style]="{'width':'300px'}">
    <template let-contributor="rowData" pTemplate type="body">
      <a href="{{contributor.url}}">
        <i class="glyphicon glyphicon-link"></i>
        {{contributor.url}}
      </a>
    </template>
  </p-column>
  <p-column field="location" header="Location" [sortable]="true">
    <template let-contributor="rowData" pTemplate type="body">
      <a *ngIf="contributor.location" href="https://www.google.com/maps/place/{{contributor.location}}/">
        <i class="glyphicon glyphicon-pushpin"></i>
        {{contributor.location}}
      </a>
    </template>
  </p-column>
</p-dataTable>
