<h2>Full Matches</h2>
<p-tabView>
    <p-tabPanel header="Companies">
        <my-company-search [tokens]="queries"></my-company-search>
    </p-tabPanel>
    <p-tabPanel header="Projects">

    </p-tabPanel>
    <p-tabPanel header="Contributors">

    </p-tabPanel>
    <p-tabPanel header="Languages">

    </p-tabPanel>
</p-tabView>

<h2>Partial Matches</h2>
<p-tabView>
    <p-tabPanel header="Companies">

    </p-tabPanel>
    <p-tabPanel header="Projects">

    </p-tabPanel>
    <p-tabPanel header="Contributors">

    </p-tabPanel>
    <p-tabPanel header="Languages">

    </p-tabPanel>
</p-tabView>
