<table id="languages" class="display table table-striped no-wrap">
  <thead>
  <tr>
    <th>Name</th>
    <th>Creator</th>
    <th>Type</th>
    <th>FirstAppeared</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let language of languages">
      <td class="col-xs-1">
        <a routerLink="/languages/{{language.id}}" routerLinkActive="active" class="text-capitalize btn btn-success btn-block btn-sqr">
          {{language.name}}
        </a>
      </td>
      <td>{{language.creator}}</td>
      <td>{{language.type}}</td>
      <td>{{language.firstAppeared}}</td>
      <td>{{language.description}}</td>
    </tr>
  </tbody>
</table>
