<p-dataList [value]="languages" [paginator]="true" [rows]="10">
    <template let-language>
        <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:12px;border-bottom:1px solid #D5D5D5;">
            <div class="ui-grid-row">
                <div class="ui-grid-col-1">
                    <a routerLink="/languages/{{language.id}}" routerLinkActive="active" class="text-capitalize btn btn-success btn-block btn-sqr-small">
                        {{language.name | ellipsis:7}}
                    </a>
                </div>
                <div class="ui-grid-col-7" style="padding-top: 5px; padding-left: 10px;">
                    <div class="ui-grid ui-grid-responsive ui-fluid">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3"><label>Creator:</label> </div>
                            <div class="ui-grid-col-9">
                                <span [innerHTML]="language.creator | bold:tokens"></span>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3"><label>Type:</label> </div>
                            <div class="ui-grid-col-9">
                                <span [innerHTML]="language.type | bold:tokens"></span>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3"><label>FirstAppeared:</label> </div>
                            <div class="ui-grid-col-9">
                                <span [innerHTML]="language.firstAppeared | bold:tokens"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-col-5" style="padding-top: 5px; padding-left: 10px;">
                    <div class="ui-grid-row">
                        <label>Description (hover for full text):</label>
                    </div>
                    <div class="ui-grid-row">
                        <span [innerHTML]="language.description | ellipsis:60 | bold:tokens"
                              pTooltip="{{language.description | bold:tokens}}" tooltipPosition="bottom"></span>
                    </div>
                </div>
            </div>
        </div>
    </template>
</p-dataList>
