<!doctype html>
<head>
    <title>Startup Fairy Viz</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/app/style.css">

    <script src="/app/jquery.min.js"></script>
    <script src="/app/d3.v2.js"></script>
    <script src="/app/companies.js"></script>
</head>
<body>
    <div id="page">
        <header>
            <h1>Startup Fairy API</h1>
        </header>
        <div role="main">
          <p>Directed graph showing the relationship between financial orgs and their respective tech companies.</p>
          <form>
            <input class="search" type="text">
          </form>
          <div class="graph"></div>
        </div>
    </div>
</body>
</html>
